body {
  padding: 0 10px;
  margin: 40px auto;
  max-width: 1024px;

  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 1.6;

  color: blanchedalmond;
  background: mediumslateblue;
}

.record {
  width: 100px;
  height: 100px;

  border-radius: 50px;

  z-index: -1;
  background-image: url('/images/mic.svg');
  /*
   * mic
   * mic2
   * mic3
   * mic_white
   */
  background-size: 100% 100%;
  position: absolute;
  top: 360px;

  box-shadow: 2px 2px 6px;
}
.record:hover {
  -webkit-animation: spin 2s infinite linear;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@-webkit-keyframes start {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

@-webkit-keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.middle-views:after {
  content: "";
  display: table;
  clear: both;
}

.samples {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.sample {
  position: relative;
  margin: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.sample .name  {
  line-height: 1em;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  font-family: Raleway, sans-serif;
  font-size: 1em;
  font-weight: 700;
}
.sample .note-type {
  position: absolute;
  top: -20px;
  right: 10px;
  color: mediumaquamarine;
}

.track .container {
  border: 1px solid black;
  height: 40px;
  width: 300px;
  position: relative;
}
.track-sample {
  position: absolute;
  border: 1px solid violet;
  height: 40px;
  width: 40px;
}
